/*** Begin /r/ainbow flair CSS ***/
/* Begin common styles for all flair. */
/* If you want to add a new flag, add its flair class to this list. Refer 
 * to "flair images" section below for naming requirements.
 */
span.flair-ainbow, 
span.flair-trans, 
span.flair-bi, 
span.flair-ace, 
span.flair-ally, 
span.flair-pan, 
span.flair-genderqueer,
span.flair-trans-ainbow, 
span.flair-trans-pan, 
span.flair-trans-bi, 
span.flair-trans-ace, 
span.flair-genderqueer-ainbow, 
span.flair-genderqueer-pan, 
span.flair-genderqueer-bi, 
span.flair-genderqueer-ace
{
	visibility: visible;
	width: 18px;
	height: 12px;
	padding: 0;
	margin: 0;
}

span.flair
{
   text-indent: 22px;
   padding-right: 3px;
   width: auto;
   min-width: 14px;
   voice-family: takei;
}

/* 2012-11-22: RES Nightmode css */
.res-nightmode span.flair
{
   color: white !important;
   text-indent: 22px;
   padding-right: 3px;
   width: auto;
   min-width: 14px;
   voice-family: takei;
}

/* NEW 2012-10-17: text-only flair */
span.flair-noflag
{
   background: #DDD;
   text-indent: 0 !important;
   padding: 0 2px !important;
   width: auto;
   min-width: 0;
   voice-family: takei;
}

/* Fix for modbox; reddit applies a larger font size to flair in the sidebar. */
.sidecontentbox .flair {
   font-size: x-small;
}

/* End common styles for all flair */

/* Begin common styles for inline images. */
/* Same deal, add URL selector here for additional flags. Refer to 
 * inline images section below for URL usage. */
a[href="/ally"]:after, 
a[href="/ainbow"]:after, 
a[href="/trans"]:after, 
a[href="/bi"]:after, 
a[href="/ace"]:after, 
a[href="/pan"]:after, 
a[href="/genderqueer"]:after,
a[href="/trans-ainbow"]:after, 
a[href="/trans-bi"]:after, 
a[href="/trans-pan"]:after, 
a[href="/trans-ace"]:after, 
a[href="/genderqueer-ainbow"]:after,
a[href="/genderqueer-bi"]:after,
a[href="/genderqueer-pan"]:after,
a[href="/genderqueer-ace"]:after
{
    width: 18px;
    height: 12px;
    content: "";
    background-position: -0px;
    display: inline-block;
    border: 1px solid #DDD;
    border-radius: 2px;
}
/* End common styles for inline images. */

/* Begin flair images. */
/* The %%flagname%% should correspond to whatever you entered as the
 * image name in the stylesheet page. If you take the suggested filename
 * from when you upload them, it should just work. 
 * The word after span.flair- should be what you enter into the CSS class
 * box on the flair template page. So for span.flair-ainbow you would enter
 * ainbow in the flair template's CSS class. 
 */
span.flair-ally { background:#DDD url(%%ally%%) no-repeat left top !important; }
span.flair-ainbow { background:#DDD url(%%ainbow%%) no-repeat left top !important;}
span.flair-bi { background:#DDD url(%%bi%%) no-repeat left top !important; }
span.flair-ace { background:#DDD url(%%ace%%) no-repeat left top !important; }
span.flair-trans { background:#DDD url(%%trans%%) no-repeat left top !important; }
span.flair-pan { background:#DDD url(%%pan%%) no-repeat left top !important; }
span.flair-genderqueer { background:#DDD url(%%gq%%) no-repeat left top !important; }
span.flair-trans-ainbow { background:#DDD url(%%trans-ainbow%%) no-repeat left top !important; }
span.flair-trans-pan { background:#DDD url(%%trans-pan%%) no-repeat left top !important; }
span.flair-trans-bi { background:#DDD url(%%trans-bi%%) no-repeat left top !important; }
span.flair-trans-ace { background:#DDD url(%%trans-ace%%) no-repeat left top !important; }
span.flair-genderqueer-ainbow { background:#DDD url(%%gq-ainbow%%) no-repeat left top !important; }
span.flair-genderqueer-pan { background:#DDD url(%%gq-pan%%) no-repeat left top !important; }
span.flair-genderqueer-bi { background:#DDD url(%%gq-bi%%) no-repeat left top !important; }
span.flair-genderqueer-ace { background:#DDD url(%%gq-ace%%) no-repeat left top !important; }


/* RES nightMode Flair, darker background with white text*/
.res-nightmode  span.flair-ally { background:#777 url(%%ally%%) no-repeat left top !important; }
.res-nightmode  span.flair-ainbow { background:#777 url(%%ainbow%%) no-repeat left top !important;}
.res-nightmode  span.flair-bi { background:#777 url(%%bi%%) no-repeat left top !important; }
.res-nightmode  span.flair-ace { background:#777 url(%%ace%%) no-repeat left top !important; }
.res-nightmode  span.flair-trans { background:#777 url(%%trans%%) no-repeat left top !important; }
.res-nightmode  span.flair-pan { background:#777 url(%%pan%%) no-repeat left top !important; }
.res-nightmode  span.flair-genderqueer { background:#777 url(%%gq%%) no-repeat left top !important; }
.res-nightmode  span.flair-trans-ainbow { background:#777 url(%%trans-ainbow%%) no-repeat left top !important; }
.res-nightmode  span.flair-trans-pan { background:#777 url(%%trans-pan%%) no-repeat left top !important; }
.res-nightmode  span.flair-trans-bi { background:#777 url(%%trans-bi%%) no-repeat left top !important; }
.res-nightmode  span.flair-trans-ace { background:#777 url(%%trans-ace%%) no-repeat left top !important; }
.res-nightmode  span.flair-genderqueer-ainbow { background:#777 url(%%gq-ainbow%%) no-repeat left top !important; }
.res-nightmode  span.flair-genderqueer-pan { background:#777 url(%%gq-pan%%) no-repeat left top !important; }
.res-nightmode  span.flair-genderqueer-bi { background:#777 url(%%gq-bi%%) no-repeat left top !important; }
.res-nightmode  span.flair-genderqueer-ace { background:#777 url(%%gq-ace%%) no-repeat left top !important; }
.res-nightmode  span.flair-noflag { background:#777 !important; }


/* DEPRECATED 2012-10-17: Reddit's 'Remove Flair' button handles
   removing one's flair, so we've removed this from the templates. 
   The class remains for any users who set it previously. */
.flair-none { display:none; }
/* End flair images */

/* Begin inline images */
/* This allows you to insert flair, rage-face style, into posts or comments
 * with [](/flagname). This is mainly for the sidebar, or for announcements
 * but will also work for any user in the comments. 
 */
a[href="/ally"]:after { background-image: url(%%ally%%); }
a[href="/ainbow"]:after { background-image: url(%%ainbow%%); }
a[href="/trans"]:after { background-image: url(%%trans%%); }
a[href="/bi"]:after { background-image: url(%%bi%%); }
a[href="/ace"]:after { background-image: url(%%ace%%); }
a[href="/pan"]:after { background-image: url(%%pan%%); }
a[href="/genderqueer"]:after { background-image: url(%%gq%%); }
a[href="/trans-ainbow"]:after { background-image: url(%%trans-ainbow%%); }
a[href="/trans-bi"]:after { background-image: url(%%trans-bi%%); }
a[href="/trans-pan"]:after { background-image: url(%%trans-pan%%); }
a[href="/trans-ace"]:after { background-image: url(%%trans-ace%%); }
a[href="/genderqueer-ainbow"]:after { background-image: url(%%gq-ainbow%%); }
a[href="/genderqueer-bi"]:after { background-image: url(%%gq-bi%%); }
a[href="/genderqueer-pan"]:after { background-image: url(%%gq-pan%%); }
a[href="/genderqueer-ace"]:after { background-image: url(%%gq-ace%%); }
/* End inline images */
/*** End /r/ainbow flair CSS ***/
